$black: #000;
$white: #eaedef;
$primary-color: $black;
$secondary-color: #919191;

/* Button Colors */
$divide-button: #20b2aa;
$multiply-button: #ffa500;
$subtract-button: #f08080;
$add-button: #7d93e0;
$result-button: #9477af;